* {
    margin: 0 auto;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(images/montain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

header {
    margin: 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav .logo{
    position: relative;
    left: 200px;
}

nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

nav ul li {
    margin-left: 30px;
    list-style: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    color: aqua;
}

ul li:nth-child(5) a {
    color: #14dd90;
    border: 1px solid #14dd90;
    padding: 10px 20px;
    border-radius: 4px;
   
}

ul li:nth-child(5) a:hover{
    color: #696969;
    background-color: #14dd90;
}

/* inicio do conteudo*/

main{
    text-align: center;
    margin-top: 120px;
}

main h1{
    color: #fff;
    font-weight: 700;
}

main h3{
    color: blanchedalmond;
    font-size: 24px;
    font-weight:lighter ;
    margin-top: 10px;
}

main button{
    background: cornflowerblue;
    color: antiquewhite;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

main button:hover{
    background-color: blanchedalmond;
    color: cornflowerblue;
}

main button a{
    
    text-decoration: none;
}

.footer{
    text-align: center;
    color: #858585;
    margin-top: 100%;
}


